/* ====================================
   MONTSERRAT FONT FAMILY - ALL WEIGHTS
   (Excluding Italic variants)
   ==================================== */

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/static/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/static/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/static/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/static/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/static/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* ====================================
   NUNITO FONT FAMILY - ALL WEIGHTS
   (Excluding Italic variants)
   ==================================== */

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito/static/Nunito-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito/static/Nunito-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito/static/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito/static/Nunito-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito/static/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito/static/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito/static/Nunito-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito/static/Nunito-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* ====================================
   BE VIETNAM PRO FONT FAMILY - ALL WEIGHTS
   (Excluding Italic variants)
   ==================================== */

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./fonts/Be_Vietnam_Pro/BeVietnamPro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./fonts/Be_Vietnam_Pro/BeVietnamPro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./fonts/Be_Vietnam_Pro/BeVietnamPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./fonts/Be_Vietnam_Pro/BeVietnamPro-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./fonts/Be_Vietnam_Pro/BeVietnamPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
